set default="0"
set timeout="0"
set gfxmode="640x480"

menuentry "RootDDR" {
    linux /bzImage root=PARTUUID=a1b2c3d4-e5f6-7890-abcd-ef1234567890 rootwait console=tty1 console=ttyS0 net.ifnames=0 video=640x480@60
}